$primery-height: auto;


.logo {
  width: 65px;
}

.brend-name {
  line-height: 90px;
}

.circle {
  width: 240px;
  height: 330px;
  border: 1px solid darkgreen;
  float: left;
  margin: 5px;
}

.square {
  width: 1290px;
  height: 3411px;
  margin-left: 55px;
}

.activeLink {
  padding-left: 15px;
  padding-top: 5px
}

.imgPhone {
  width: 3%;
  height: $primery-height;
  @extend .activeLink;
}

.footer {
  background-color: #f3f3f3;
  width: 100%;
  height: $primery-height;
  padding-left: 25px;
}
